:root{
    --preto: #363636;
    --vermelho: #ee1f1f;
    --azul: #062f4f;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 900px;
}

/*HEADER*/
.cabeçalho{
    position: fixed;
    background-color: var(--preto);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.pagetitle{
    font-size: 1.5em;
    margin-left: 20px;
    font-weight: bold;
}

#logo{
    width: 50px;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 40px;
    margin-right: 40px;
}

.btns li{
    list-style: none;
    
}

.btns li a{
    background-color: var(--vermelho);
    margin: 2px;
    padding: 7px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 8px #aaa;
}

.btns li a:hover{
    background-color: #eee;
}

.red-border{
    border: 2px solid #f00;
}

/*ROBOTS EXAMPLES*/
#robots{
    padding: 40px;
    padding-top: 100px;
    background-color: var(--azul);
}

#titlebot{
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.images{
    height: 700px;
    border: 2px solid #00f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.retangulo{
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.retangulo img{
    height: 300px;
}

img{
    width: 100%;
}

.quadrado{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.quadrado img{
    height: 250px;
}

/*ABOUT*/
#about{
    background-color: var(--vermelho);
    padding: 40px;
    padding-top: 100px;
    color: white;
}

/*CONTACT*/
#contact{
    background-color: var(--azul);
    padding: 40px;
    padding-top: 110px;
    color: white;
}

.rodape{
    height: 40px;
    background-color: var(--preto);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    font-style: italic;
    font-size: 1.2em;
}