@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --corPrimaria: #1e78d2;
    --corSecundaria: #155493;
    --corTerciaria: #f1f7fd;
    --corQuartenaria: #0f3959;
    --corTextPrimaria: #000;
    --corTextSecundaria: #fff;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-top: -60px;
}

section{
    width: 100%;
    height: min-content;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

/* HEADER */
header{
    position: sticky;
    display: flex;
    top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    z-index: 1000;
    width: 100%;
}

.logo{
    color: var(--corTextSecundaria);
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 40px;
    margin-right: 40px;
}

.btns li{
    list-style: none;
}

.btns li a{
    margin: 2px;
    padding: 7px;
    text-decoration: none;
    color: var(--corTextSecundaria);
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.btns li a:hover{
    background-color: var(--corSecundaria);
}

.borda1{
    border: 2px solid #000;
}

#robots{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#robots .slider{    
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

#robots .navigation{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}

.navigation li img{
    width: 150px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 4px;
}

#robots h2{
    position: absolute;
    z-index: 100;
    font-size: 4em;
    text-align: center;
    max-width: 2000px;
    text-shadow: 0 5px 10px rgba(0,0,0,0.2);
    color: var(--corTextSecundaria);
}

/*ABOUT*/
#about{
    background-color: var(--corQuartenaria);
    padding: 100px 10px 40px;
    color: var(--corTextSecundaria);
    height: min-content;
}

#about .container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titleabout{
    margin-bottom: 20px;
}

.txtabout{
    font-size: 1.1em;
}

.img-about img{
    width: 100%;
    height: 100%;
}

/*SERVICES*/
#services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/foto0.jpg);
    background-position: center;
}

.container3{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.container3 .box{
    position: relative;
    width: 320px;
    color: black;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    background-color: white;
    
}

.container3 .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--corPrimaria);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container3 .box:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.container3 .box h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container3 .box:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

.container3 .box h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.container3 .box p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}

.container3 .box:hover h3, .container3 .box:hover p
{
    color: var(--corTextSecundaria);
}



/* CONTACT */
.ct-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
    
}
.ct-area::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

.ct-area .container2{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 10;
}

.ct-area .container2 .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: var(--corQuartenaria);
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.ct-area .container2 .contactinfo h2{
    color: var(--corTextSecundaria);
    font-size: 24px;
    font-weight: 500;
}

.ct-area .container2 .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

.ct-area .container2 .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: center;
}

.ct-area .container2 .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

.ct-area .container2 .contactinfo .info li span:nth-child(1) i
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .info li span:nth-child(2)
{
    color: var(--corTextSecundaria);
    margin-left: 20px;
    font-weight: 300;
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .info li:hover span:nth-child(1) i,
.ct-area .container2 .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}

.ct-area .container2 .contactinfo .sci{
    position: relative;
    display: flex;
}

.ct-area .container2 .contactinfo .sci li{
    list-style: none;
    margin-right: 20px;
}

.ct-area .container2 .contactinfo .sci li a{
    color: var(--corTextSecundaria);
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .sci li:hover a{
    opacity: 1;
}

.ct-area .container2 .contactForm{
    position: absolute;
    padding-top: 70px 50px;
    background: var(--corTextSecundaria);
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.ct-area .container2 .contactForm h2{
    color: var(--corQuartenaria);
    font-size: 24px;
    font-weight: 500;
    margin: 50px 30px 0;
}

.ct-area .container2 .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.ct-area .container2 .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

.ct-area .container2 .contactForm .formBox .inputBox.w100
{
    width: 90%;
}

.ct-area .container2 .contactForm .formBox .inputBox input,
.ct-area .container2 .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.ct-area .container2 .contactForm .formBox .inputBox textarea
{
    min-height: 120px;
}

.ct-area .container2 .contactForm .formBox .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.ct-area .container2 .contactForm .formBox .inputBox input:focus ~ span,
.ct-area .container2 .contactForm .formBox .inputBox textarea:focus ~ span,
.ct-area .container2 .contactForm .formBox .inputBox input:valid ~ span,
.ct-area .container2 .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ED145B;
}

.ct-area .container2 .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: var(--corQuartenaria);
    color: var(--corTextSecundaria);
    border: none;
    max-width: 150px;
    padding: 12px;
}

.ct-area .container2 .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #ED145B;
}

/*RODAPE*/
.rodape{
    height: 50px;
    background-color: var(--corTextPrimaria);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    font-style: italic;
    font-size: 1.2em;
}

.rodape p a{
    text-decoration: underline;
    color: white;
    transition: .2s;
}

.rodape p a:hover{
    color: var(--corSecundaria);
}

/*RESPONSIVE*/
@media screen and (max-width: 500px) {
    header{
        position: relative;
        flex-direction: column;
        height: 180px;
        justify-content: center;
        background-color: black;
        padding-top: 90px;
    }
    .btns{
        margin: 0;
    }
    #robots{
        padding: 10px 20px 0px;
        min-height: 950px;
    }
    
    #about{
        background-color: var(--corSecundaria);
        padding: 0;
        height: min-content;
    }
    #about .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txtabout{
        width: 90%;
        font-size: 1em;
        margin-bottom: 30px;
    }
    .imgabout{
        width: 90%;
    }
    .svc-types{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    .svc_txt{
        padding: 5px 20px 0px 20px;
        font-size: 0.9em;
        text-align: justify;
    }
    .svc_titles{
        font-size: 1em;
    }
    .svc{

        height: 75%;
        padding: 0px;
        text-align: center;
    }
}