:root{
    --corPrimaria: #1e78d2;
    --corSecundaria: #155493;
    --corTerciaria: #f1f7fd;
    --corTextPrimaria: #000;
    --corTextSecundaria: #fff;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: min-content;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

/*HEADER*/
.cabeçalho{
    position: fixed;
    background-color: var(--corPrimaria);
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.info1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.pagetitle{
    font-size: 1.5em;
    margin-left: 20px;
    font-weight: bold;
}

#logo{
    width: 50px;
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 40px;
    margin-right: 40px;
}

.btns li{
    list-style: none;
}

.btns li a{
    margin: 2px;
    padding: 7px;
    text-decoration: none;
    color: var(--corTextSecundaria);
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.btns li a:hover{
    background-color: var(--corSecundaria);
}

.borda1{
    border: 2px solid rgb(69, 78, 30);
}

/*ROBOTS EXAMPLES*/
#robots{
    padding: 100px 40px 0px 40px;
    background-color: var(--corTerciaria);
    height: min-content;
}

#titlebot{
    color: var(--corTextPrimaria);
    margin-bottom: 20px;
    margin-top: 20px;
}

.images{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

#robots img{
    width: 100%;
    height: 100%;
}

/*ABOUT*/
#about{
    background-color: var(--corPrimaria);
    padding: 100px 10px 40px;
    color: var(--corTextSecundaria);
    height: min-content;
}

#about .container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titleabout{
    margin-bottom: 20px;
}

.txtabout{
    font-size: 1.1em;
}

.img-about img{
    width: 100%;
    height: 100%;
}

/*SERVICES*/
#services{
    padding: 40px;
    padding-top: 60px;
    height: min-content;
    background-color: var(--corSecundaria);
}

.banner-svc img{
    width: 100%;
}


.svc{
    height: 70%;
    padding: 20px;
    color: var(--corTextSecundaria);
    text-align: center;
}

.svc-types{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.svc_titles{
    margin-bottom: 10px;
}

.svc_txt{
    padding: 5px 20px 0px;
    text-align: justify;
}

/* CONTACT */
.ct-area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}
.ct-area::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

.ct-area .container2{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 10;
}

.ct-area .container2 .contactinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.ct-area .container2 .contactinfo h2{
    color: var(--corTextSecundaria);
    font-size: 24px;
    font-weight: 500;
}

.ct-area .container2 .contactinfo .info{
    position: relative;
    margin: 20px 0;
}

.ct-area .container2 .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: center;
}

.ct-area .container2 .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.ct-area .container2 .contactinfo .info li span:nth-child(1) i{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .info li span:nth-child(2){
    color: var(--corTextSecundaria);
    margin-left: 40px;
    font-weight: 300;
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .info li span:nth-child(1) i,
.ct-area .container2 .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}

.ct-area .container2 .contactinfo .sci{
    position: relative;
    display: flex;
}

.ct-area .container2 .contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
}

.ct-area .container2 .contactinfo .sci li a{
    color: var(--corTextSecundaria);
    opacity: 0.5;
}

.ct-area .container2 .contactinfo .sci li:hover a{
    opacity: 1;
}

.ct-area .container2 .contactForm{
    position: absolute;
    padding-top: 70px 50px;
    background: var(--corTextSecundaria);
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

.ct-area .container2 .contactForm .formBox{
    position: relative;
    /*parei aqui*/
}

/*RODAPE*/
.rodape{
    height: 50px;
    background-color: var(--corPrimaria);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    font-style: italic;
    font-size: 1.2em;
}

.rodape p a{
    text-decoration: underline;
    color: white;
    transition: .2s;
}

.rodape p a:hover{
    color: var(--corSecundaria);
}

/*RESPONSIVE*/
@media screen and (max-width: 500px) {
    .cabeçalho{
        position: relative;
        flex-direction: column;
        height: 180px;
        justify-content: center;
    }
    .pagetitle{
        text-align: center;
        margin: 0;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .btns{
        margin: 0;
    }
    #robots{
        padding: 10px 20px 0px;
        min-height: 950px;
    }
    .row{
        flex-direction: column;
    }
    .column{
        width: 100%;
    }
    #about{
        background-color: var(--corSecundaria);
        padding: 0;
        height: min-content;
    }
    #about .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txtabout{
        width: 90%;
        font-size: 1em;
        margin-bottom: 30px;
    }
    .imgabout{
        width: 90%;
    }
    .svc-types{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    .svc_txt{
        padding: 5px 20px 0px 20px;
        font-size: 0.9em;
        text-align: justify;
    }
    .svc_titles{
        font-size: 1em;
    }
    .svc{

        height: 75%;
        padding: 0px;
        text-align: center;
    }
}